{% extends "base.html" %}
{% block content %}

<div class="container main-container">
    <h1>Text-to-Speech</h1>
    <p>Talking back to you.</p>
    <img src="/img/speaker.png">
</div>

<div class="container">
    <p>
        A <b>text-to-speech</b> engine transforms text into human-like audio and
        plays it through your speakers. Multiple <b>voices</b> are usually
        available for each engine, and some can be tuned to change pitch,
        speaking rate, etc.
    </p>
    <p>
        rhasspy includes support for several open source, freely available,
        offline text-to-speech engines out of the box. The best sounding is
        MaryTTS, a system developed out of Germany.
    </p>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                Choose a text-to-speech engine and voice below, and have rhasspy
                speak to you!
            </p>
        </div>
    </div>

    <form id="speak-form">
        <div class="form-row form-group">
            <div class="col">
                <select class="form-control" id="engine" name="engine">
                    <option>Default Engine</option>
                    <option value="pyttsx3">pyTTSX3</option>
                    <option value="pico-tts">picoTTS</option>
                    <option value="mary-tts">MaryTTS</option>
                </select>
            </div>
            <div class="col">
                <select class="form-control" id="voice" name="voice">
                    <option>Default Voice</option>
                </select>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <input type="text" class="form-control" id="text" name="text" placeholder="Type a sentence" value="">
            </div>
            <div class="col-sm-auto">
                <button type="submit" id="speak" class="btn btn-lg btn-primary">
                    <i class="fas fa-comment"></i>
                    <span class="ml-1">Speak</span>
                </button>
            </div>
        </div>
    </form>

    <div class="row mt-3 mx-auto bg-danger text-light p-2" id="response" hidden>
        <i class="fas fa-exclamation-circle"></i>
        <span class="ml-2" id="response-text">Empty response</span>
    </div>
</div>

<div class="container mt-5">
    <h2>Engines</h2>
    <table class="table mt-3">
        <thead class="thead-light">
            <th scope="col">Engine</th>
            <th scope="col">Description</th>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://pypi.org/project/pyttsx3/">pyTTSX3</a></td>
                <td>
                    A cross-platform Python wrapper for offline text-to-speech
                    synthesis. On Windows, SAPI5 (Microsoft Speech API) is used.
                    NSSpeechSynthesizer is used on macOS, and <a
                    href="http://espeak.sourceforge.net">eSpeak</a> is used on
                    Linux systems.
                </td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedial.org/wiki/SVOX">picoTTS</a></td>
                <td>
                    A small-footprint text-to-speech system for mobile phones,
                    created by SVOX. Originally included as part of Android 1.6.
                </td>
            </tr>
            <tr>
                <td><a href="http://mary.dfki.de">MaryTTS</a></td>
                <td>
                    An open-source, multilingual text-to-speech system written
                    in Java, originally developed by <a
                    href="https://www.dfki.de/web">DFKI</a> (a German
                    university).
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-5">
    <h2>Speakers</h2>
    <table class="table mt-3">
        <thead class="thead-light">
            <th scope="col">Index</th>
            <th scope="col">Name</th>
            <th scope="col">Info</th>
        </thead>
        <tbody>
            {% for info in devices %}
                {% if info.get('maxOutputChannels', 0) > 0 %}
                <tr>
                    <td>{{ info['index'] }}</td>
                    <td>{{ info['name'] }}</td>
                    <td>
                        <ul>
                            {% for key, value in info|dictsort %}
                                {% if key not in ['name', 'index'] %}
                                <li>{{ key }} = {{ value }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
 var voices = {
     {% for engine in voices.keys() %}
         "{{ engine }}": {
             {% for id, name in voices[engine].items() %}
             "{{ id }}": "{{ name }}"{% if not loop.last %},{% endif %}
             {% endfor %}
         }{% if not loop.last %},{% endif %}
     {% endfor %}
 };

 $("#speak-form").submit(function(ev) {
     $("#response").prop("hidden", true);
     $("#response-text").text("");

     var req = new XMLHttpRequest();
     req.open("POST", "/text-to-speech", true);
     req.addEventListener("load", function(resp) {
         if (req.status != 200) {
             // Show error text
             $("#response").prop("hidden", false);
             $("#response-text").text(resp.target.responseText);
         }
     });

     req.send(new FormData(document.getElementById("speak-form")));
     ev.preventDefault();
 });

 $("#engine").change(function() {
     var engine = $("#engine").val();
     $("#voice").empty().append($("<option></option>").text("Default Voice"));
     if (voices[engine]) {
         // Add all voices for this engine (sorted by id)
         Object.keys(voices[engine]).sort().forEach(function(id) {
             var name = voices[engine][id];
             $("#voice").append($("<option></option>").text(name).val(id));
         });
     }
 });

</script>
{% endblock %}
